@charset "UTF-8";

/*Formataçao de textos do corpo-full*/
section#corpo-full h1 {
    color: #606060;
    font-size: 20pt;
    font-family: 'FonteLogo', sans-serif;
    margin-bottom: 0px;
}

section#corpo-full h3 {
    color: #dddddd;
    font-size: 10pt;
    margin-top: 10px;
}

section#corpo-full h2 {
    color: #dddddd;
    font-weight: bold;
    font-size: 15pt;
    background-color: #ffffff;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

section#corpo-full h3.right {
    text-align: right;
    color: #3d3c3c;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 500px;
    margin: auto;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid;
    border-color: #888888;
    box-shadow: 1px 1px 2px #888888;
}

input:hover, textarea:hover {
    background-color: #dddddd;
}

input#cUrg, input#botonSend {
    box-shadow: none;
}

input#botonSend {
    border: none;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    border-color: #cecece;
    margin: 20px;
}
fieldset#sexo {
    width: 130px;
}

fieldset#usuario {
    background: url("../_imagens/icone-contato.png") no-repeat 99% 95%;
}

fieldset#endereco {
    background: url("../_imagens/icone-endereco.png") no-repeat 99% 95%;
}

fieldset#mensagem {
    background: url("../_imagens/icone-mensagem.png") no-repeat 99% 95%;
}

fieldset#pedido {
    background: url("../_imagens/icone-pagamento.png") no-repeat 99% 95%;
}