@charset "UTF-8";x

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 380px;
    height: 300px;
    border: none;
    overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;
}

section#corpo-full {
    margin: 10px;
}

p {
    margin: 10px;
}

section#conteudo img {
    margin-left: 40px;
    padding-right: 30px;
}