@charset "UTF-8";x

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 400px;
    height: 300px;
    border: none;
    overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;
}

section#corpo-full {
    margin: 10px;
}

section#corpo-full h1 {
    color: #606060;
    font-size: 20pt;
    font-family: 'FonteLogo', sans-serif;
    margin-bottom: 0px;
}
section#corpo-full h3 {
    color: #dddddd;
    font-size: 10pt;
    margin-top: 10px;
}

section#corpo-full h2 {
    color: #dddddd;
    font-weight: bold;
    font-size: 15pt;
    background-color: #ffffff;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

section#corpo-full h3.right {
    text-align: right;
    color: #3d3c3c;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    margin: 10px;
}

section#conteudo img {
    margin-left: 40px;
    padding-right: 30px;
}